/* Importação das fontas */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Unbounded:wght@700&display=swap');

/* Reset */
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #0E1014;
    color: #FFFFFF;
    max-width: 1920px;
    margin: 0 auto;
}

header {
    margin: 75px 360px 0 360px;
}

.logo {
    display: inline-block;
    text-align: left;
}

section {
    margin: 0px auto;
    max-width: 792px;
    text-align: center;
}

h1 {
    margin: 60px auto 0px auto;
    font-family: "Unbounded", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 64px;
    width: 625px;
    height: 158px;
}

h1 span {
    color: #9747FF;
}

p {
    margin: 24px auto 0 auto;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 600px;
    height: 72px;
}

.botao {
    display: block;
    margin: 40px auto 0px auto;   
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    width: 340px;
    height: 66px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background: #9747FF;
    line-height: 66px;
    border-radius: 36px;
}

.botao:hover {
    background: #8233E8;
}

.decoracao {
    margin-top: 40px;
    display: block;
}


/* tela de tablet */
@media (max-width: 768px) {
    
}

/* tela de celular */
@media (max-width: 375px) {
    
}
