/* Importação das fontas */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Unbounded:wght@700&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0E1014;
    color: #FFFFFF;
}

header {
    margin-top: 75px;
    margin-left: 360px;
}

.logo {
    display: inline-block;
}

section {
    margin-top: 60px;
    margin-left: 564px;
}

h1 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

p {
    margin-top: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.botao {
    display: block;
    margin-top: 40px;   
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.decoracao {
    margin-top: 40px;
    display: block;
}